.box {
  background: url('https://i.pinimg.com/originals/bd/d9/f1/bdd9f1b50d9095412ceb505bdeb4d5fa.gif') no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  background-position: -10px 5px;
}

body {
  overflow-x: hidden!important;
  margin:0px;
}
#fundo { 
  background: #96C9E6;
  height: 100%;
  width: 100%;
}

#tela {
  height: 100%;
  width: 100%;
  background: url('https://i.pinimg.com/736x/5b/d1/70/5bd170bb4655992be36d6034b35224fd--pixel-art-background-direction.jpg') repeat-x;
    background-position: bottom;
    position: fixed;
    background-size: 600px;
}


.left {
    background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5c7f5e56-99ba-4690-bb82-862ceaaaf25e/d4jrskn-fe727634-41a9-4fc7-97c5-c910a9bc8ffc.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzVjN2Y1ZTU2LTk5YmEtNDY5MC1iYjgyLTg2MmNlYWFhZjI1ZVwvZDRqcnNrbi1mZTcyNzYzNC00MWE5LTRmYzctOTdjNS1jOTEwYTliYzhmZmMuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.YA9NvVtkNTP7Q-knfg0LYieoTosmgr7bkWezH64NpUA') no-repeat;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    background-size: contain;
}
.right {
  background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5c7f5e56-99ba-4690-bb82-862ceaaaf25e/d4jrskn-fe727634-41a9-4fc7-97c5-c910a9bc8ffc.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzVjN2Y1ZTU2LTk5YmEtNDY5MC1iYjgyLTg2MmNlYWFhZjI1ZVwvZDRqcnNrbi1mZTcyNzYzNC00MWE5LTRmYzctOTdjNS1jOTEwYTliYzhmZmMuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.YA9NvVtkNTP7Q-knfg0LYieoTosmgr7bkWezH64NpUA')no-repeat;
  background-size: contain;
}

.leftp {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1) rotate(-20deg);
}
.rightp {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform:  rotate(-20deg);
}

.leftd {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1) rotate(30deg);
}
.rightd {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform:  rotate(30deg);
}
